<%= form_with(model: mixture) do |form| %>
  <% if mixture.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(mixture.errors.count, "error") %> prohibited this mixture from being saved:</h2>

      <ul>
        <% mixture.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :percentage %>
    <%= form.number_field :percentage %>
  </div>

  <div class="field">
    <%= form.label :wine_id %>
    <%= form.text_field :wine_id %>
  </div>

  <div class="field">
    <%= form.label :strain_id %>
    <%= form.text_field :strain_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
