<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @wine.name %>
</p>

<% if @wine.strains.present?%>
  <p><strong>Esta compuesto por:</strong></p>
  <ul>
    <% @wine.strains.each do |strain| %>
      <li><%= strain.name %></li>
    <% end %>
  </ul>
<% end %>

<%= link_to 'Edit', edit_wine_path(@wine) %> |
<%= link_to 'Back', wines_path %>
